.app-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  .top-nav {
    background-color: color($base-palette, primary);
    display: flex;
    height: 50px;
    padding: 0;

    .nav-item {
      flex-grow: 1;

      color: white;
      cursor: pointer;
      line-height: 2rem;
      min-width: 100px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle; // Really?

      &.active {
        background-color: blue;
      }
    }
  }
}
