@import "~normalize.css";

$body-bg: #300030;
$font-family-primary: Ubuntu;
$font-size-primary: 14px;

* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
}

h1 {
  color: white;
}
