// ----------------------------------------------------------
// This file contains the main global styles
// ----------------------------------------------------------

body {
  background-color: color($base-palette, white);
  font-family: $font-family-primary;
  font-size: $font-size-base;
  margin: 0;
}

.box {
  box-sizing: border-box;
}
